@import "../scss/reset";
@import "../scss/background";
@import "../scss/scrollbar";
@import "../scss/variables";

/* ---------------- Defaults and small screen first (mobile first) -----------------*/

.similar-books .penguin-books .badge {
  white-space: normal;
}

.similar-books .goodreads-books .badge {
  white-space: normal;
}

.similar-books .amazon-books .badge {
  white-space: normal;
}

.similar-books .goodreads-books .flex-container {
  flex-direction: column;
  .card-parent {
    width: 75%;
  }
}

@media (min-width: 576px) {
  .author-book-card {
    width: 75%;
  }
  .book-description,
  .wiki-text {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .similar-books .goodreads-books .flex-container {
    flex-direction: row;
    .card-parent {
      width: 50%;
    }
  }
}

@media (min-width: 768px) {
  small {
    font-size: 0.75rem;
  }
  .book {
    .similar-books .goodreads-books .flex-container {
      .card-parent {
        width: 25%;
        .card-body {
          display: flex;
          justify-content: space-around;
          flex-direction: column;
        }
      }
    }
    .heading {
      small {
        font-size: 150%;
      }
    }
    h5,
    h6 {
      font-size: 1rem;
      line-height: 1.3rem;
    }
    p,
    div,
    .penguin-description {
      font-size: 0.75rem;
      line-height: 1.25rem;
    }
  }
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  small {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .similar-books .goodreads-books {
    .container {
      max-width: 100% !important;
    }
  }
  .similar-books .goodreads-books .flex-container {
    .card-parent {
      width: 25%;
    }
  }
  .book {
    .heading small {
      font-size: 4rem;
      line-height: 6rem;
    }
    h2 {
      font-size: 5rem;
      line-height: 7rem;
    }
    h4 {
      font-size: 5rem;
      line-height: 7rem;
    }
    h5,
    h6 {
      font-size: 4rem;
      line-height: 6rem;
    }
    p,
    div,
    .penguin-description {
      font-size: 2.75rem;
      line-height: 4.25rem;
    }
    .card-img-top {
      width: 50% !important;
    }
  }
}
