<div *ngIf="isDataAvailable; else load">

  <!-------------------INITIALDATA---------------->

  <!--CARD TAKING UP 25VW RESPONSIVELY-->
  <div class="card w-25 author-book-card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link book-link" (click)="alterView()" style="cursor: pointer;">
            <h6>Book</h6>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link author-link" (click)="alterView()" style="cursor: pointer;">
            <h6>Author</h6>
          </a>
        </li>
      </ul>
    </div>
    <!--IF BOOK SHOW IT, ELSE SHOW AUTHOR-->
    <div *ngIf="showBook; else show_author">
      <img class="card-img-top" src={{book?.frontCover}} alt="Image of book">
      <div class="card-body">
        <h6 class="card-title">{{book?.exact_title}}</h6>
        <p class="card-text" [innerHTML]="book?.goodreadsDescription">
        </p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Goodreads Description
          </small>
        </footer>
      </div>
    </div>
    <ng-template #show_author>
      <img class="card-img-top" src={{book?.authorImage}} alt="Image of author">
      <div class="card-body">
        <div class="card-title">
          <a href={{book?.authorLink}} class="badge badge-light" target="_blank">
            {{book?.author_name}}
            <!-- <h6>{{book.author_name}}</h6> -->
          </a>
        </div>
        <p class="card-text">{{book?.wikipedia[0]}}</p>
      </div>
    </ng-template>
  </div>

  <!--SIMILAR TO PREVIOUS CARD BUT ONLY WITH TEXT, NOTHING ELSE-->
  <div class="card descriptions w-25">
    <div class="card-body">
      <div class="card-text" [innerHTML]="book?.amazonReview"></div>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Amazon Review
        </small>
      </footer>
    </div>
  </div>

  <!-- ---------------------------BUTTONS -------------------------- -->

  <!--THIS ONE NEEDS TO BE CHECKED IF PUT REQUEST IS NECESSITATED-->
  <button type="button" class="btn btn-primary" id="amazon" (click)="checkForAmazonReviews()">
    <i class="fa fa-amazon fa-3x" aria-hidden="true">
      <span class="tooltip">Amazon Reviews</span>
    </i>
  </button>

  <button type="button" class="btn btn-primary" id="goodreads" (click)="toggle('goodreadsReviewVisible'); toggleButton()">
    <i class="fa fa-eye fa-3x" aria-hidden="true">
      <span class="tooltip">Goodreads Reviews</span>
    </i>
  </button>

  <button type="button" class="btn btn-primary" id="wikipedia" (click)="toggle('wikiVisible'); toggleButton()">
    <i class="fa fa-wikipedia-w fa-3x" aria-hidden="true">
      <span class="tooltip">Author's Wikipedia Text</span>
    </i>
  </button>

  <button type="button" class="btn btn-primary" id="similar-books" (click)="toggle('amazonSimilarBooksVisible'); toggleButton()">
    <i class="fa fa-clone fa-3x" aria-hidden="true">
      <span class="tooltip">Similar Books</span>
    </i>
  </button>

  <!-- -----------------AMAZON REVIEWS IFRAME--------------- -->

  <div (click)="checkForAmazonReviews()" *ngIf="buttonToggle?.amazonReviewVisible">
    <iframe id="amazon-reviews" [src]='sanitizer?.bypassSecurityTrustResourceUrl(book?.amazonCustomerReviews)' width="100%" height="100%"
      frameborder="0"></iframe>
    <div *ngIf="buttonVisible">
      <button class="btn btn-dark" type="button" id="general-button" (click)="closeModal()">
        <i class="fa fa-window-close fa-2x"></i>
      </button>
    </div>
  </div>

  <!--GOODREADS REVIEWS IFRAME-->
  <div *ngIf="buttonToggle?.goodreadsReviewVisible">
    <iframe id="goodreads-reviews" [src]='sanitizer?.bypassSecurityTrustResourceUrl(book?.goodreadsReviewsWidget)' width="100%"
      height="100%" frameborder="0"></iframe>
    <div *ngIf="buttonVisible">
      <button class="btn btn-dark" type="button" id="general-button" (click)="closeModal()">
        <i class="fa fa-window-close fa-2x"></i>
      </button>
    </div>
  </div>

  <!--AUTHOR WIKIPEDIA TEXT-->
  <div *ngIf="buttonToggle?.wikiVisible">
    <div id="wikipedia-text" class="card descriptions w-75">
      <div class="card-body">
        <div class="card-text">
          <!--IT IS AN ARRAY THAT NEEDS TO BE ALTERED VISUALLY-->
          <div *ngFor="let wiki of book?.wikipedia; let i=index">
            <b>{{wiki?.slice(0, periods[i])}}</b>{{wiki?.slice(periods[i], wiki?.length)}}
            <br />
            <br />
          </div>
        </div>
      </div>
      <footer class="blockquote-footer">
        <small class="text-muted">
          From Wikipedia Article
        </small>
      </footer>
    </div>
    <div *ngIf="buttonVisible">
      <button class="btn btn-dark" type="button" id="general-button" (click)="closeModal()">
        <i class="fa fa-window-close fa-2x"></i>
      </button>
    </div>
  </div>

  <!--AMAZON, PENGUIN, AND GOODREADS SIMILAR BOOKS DATA-->
  <div *ngIf="buttonToggle?.amazonSimilarBooksVisible">
    <div id="similar-books-div" class="card descriptions w-75">
      <div class="card-body">
        <div class="card-text">
          <h4>Amazon Similar Books</h4>
          <h5 class="text-muted">All link to goodreads book page.</h5>
          <div class="amazon-links">
            <ng-container *ngFor="let book of book?.amazonSimilarProducts">
              <a class={{book?.cl}} href={{book?.url}} alt="Link to similar book at goodreads" target="_blank">{{book?.title}}</a>
            </ng-container>
          </div>
          <br />
          <br />
          <h4>Goodreads Similar Books</h4>
          <div class="goodreads-links">
            <ng-container *ngFor="let book of book?.goodreadsSimilarBooks">
              <div class="goodreads-link">
                <a href={{book?.authors[0]?.author[0]?.link[0]}} target="_blank">{{book?.authors[0]?.author[0]?.name[0]}}</a>

                <!--IF THERE IS NO PHOTO, GIVE A DEFAULT ONE-->
                <div *ngIf="book?.image_url[0]?.indexOf('nophoto') === -1; else default_photo">
                  <img src={{book?.image_url[0]}} alt="image of goodreads similar book" />
                </div>
                <ng-template #default_photo>
                  <div>
                    <img class="uniform-image-size" src="http://www.asei.co.id/wp-content/themes/linstar/assets/images/default.jpg" alt="default image when no image (image of space)"
                    />
                  </div>
                </ng-template>
                <a href={{book?.link[0]}} alt="Redirect to book (goodreads)" target="_blank">{{book?.title[0]}}</a>
              </div>
            </ng-container>
          </div>
          <br />
          <br />
          <h4>Penguin Similar Books</h4>
          <h5 class="text-muted">All link to Penguin Random House book page.</h5>
          <br />
          <div *ngFor="let book of book?.penguinData">
            <a style="text-align: left;" href={{book?.url}} alt="url to book" target="_blank">
              <h5>{{book?.name}}</h5>
            </a>
            <h6 style="text-align: left">
              <pre>{{book?.author}}</pre>
            </h6>
            <div style="text-align: left" [innerHTML]="book?.description[0]"></div>

            <!--SOMETIMES A SECOND DESCRIPTION EXISTS-->
            <div *ngIf="book?.description?.length > 1">
              <br />
              <div style="text-align: left;" [innerHTML]="book?.description[1]"></div>
            </div>
            <br />
            <br />
          </div>
        </div>
      </div>
      <footer class="blockquote-footer">
        <div class="text-muted">
          From Penguin Publishing, Amazon, and Goodreads
        </div>
      </footer>
    </div>
    <div *ngIf="buttonVisible">
      <button class="btn btn-dark" type="button" id="general-button" (click)="closeModal()">
        <i class="fa fa-window-close fa-2x"></i>
      </button>
    </div>
  </div>

</div>
<!--DATA IS LOADING, SHOW THIS-->
<ng-template #load>
  <div class="jawn"></div>
</ng-template>
