<div *ngIf="isDataAvailable">
  <div>
    <h1>
      <b>
        <u>{{bookTitle}}</u>
      </b>
      - {{author}}
    <br />
    <img src={{authorImage}} />
    <img src={{backCover}} />
    <img src={{frontCover}} />
    </h1>
    <button (click)="showWiki()">Wikipedia</button>
    <button (click)="showGoodreads()">Goodreads</button>
    <div *ngIf="wikiVisible">
      <div *ngFor="let wiki of wikipedia; let i=index">
        <p>
          <b>{{wiki.slice(0, periods[i])}}</b>{{wiki.slice(periods[i], wiki.length)}}
          <br />
          <br />
        </p>
      </div>
    </div>
    <div *ngIf="goodreadsVisible">
      <div *ngFor="let text of goodreadsDescription">
        {{text}}
        <br />
        <br />
      </div>
    </div>
  </div>

</div>
