//COVER THE PAGE WITH CLOUDS
.loading {
  background: url("https://t4.ftcdn.net/jpg/00/96/92/85/240_F_96928594_oc995mkEMzp9nqQPuRHDnUUWZkMmHSEv.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

//CUSTOM CSS FOR EACH FLYING BOOK
@for $i from 1 through 21 {
  $rand: ($i * $i);
  @keyframes #{book + $i} {
    0% {
      top: 0;
      left: 50%;
      width: 0.5em;
      transform: skewY(-30deg);
    }
    10% {
      top: ((($i) % 10) + 10) * 1%;
      width: 1em;
      transform: skewY(30deg);
    }
    20% {
      top: ((($i) % 10) + 20) * 1%;
      width: 1.5em;
      transform: skewY(-30deg);
    }
    30% {
      top: ((($i) % 10) + 30) * 1%;
      width: 2em;
      transform: skewY(30deg);
    }
    40% {
      top: ((($i) % 10) + 40) * 1%;
      width: 2.5em;
      transform: skewY(-30deg);
    }
    50% {
      top: ((($i) % 10) + 50) * 1%;
      width: 3em;
      transform: skewY(30deg);
    }
    60% {
      top: ((($i) % 10) + 60)* 1%;
      width: 3.5em;
      transform: skewY(-30deg);
    }
    70% {
      top: ((($i) % 10) + 70) * 1%;
      width: 4em;
      transform: skewY(30deg);
    }
    80% {
      top: ((($i) % 10) + 80) * 1%;
      width: 4.5em;
      transform: skewY(-30deg);
    }
    90% {
      top: ((($i) % 10) + 90) * 1%;
      width: 5em;
      transform: skewY(30deg);
    }
    100% {
      top: 111%;
      width: 5.5em;
      left: $rand % 110 * 1%;
      transform: skewY(-30deg);
    }
  }
}

//EACH BOOK HAS THINGS RELATED TO ITS ANIMATION
.book {
  position: absolute;
  height: auto;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  overflow: hidden;
}

.book1 {
  @extend .book;
  -webkit-animation-name: book1;
  animation-name: book1;
}

.book2 {
  @extend .book;
  -webkit-animation-name: book2;
  animation-name: book2;
}

.book3 {
  @extend .book;
  -webkit-animation-name: book3;
  animation-name: book3;
}

.book4 {
  @extend .book;
  -webkit-animation-name: book4;
  animation-name: book4;
}

.book5 {
  @extend .book;
  -webkit-animation-name: book5;
  animation-name: book5;
}

.book6 {
  @extend .book;
  -webkit-animation-name: book6;
  animation-name: book6;
}

.book7 {
  @extend .book;
  -webkit-animation-name: book7;
  animation-name: book7;
}

.book8 {
  @extend .book;
  -webkit-animation-name: book8;
  animation-name: book8;
}

.book9 {
  @extend .book;
  -webkit-animation-name: book9;
  animation-name: book9;
}
.book10 {
  @extend .book;
  -webkit-animation-name: book10;
  animation-name: book10;
}
.book11 {
  @extend .book;
  -webkit-animation-name: book11;
  animation-name: book11;
}
.book12 {
  @extend .book;
  -webkit-animation-name: book12;
  animation-name: book12;
}
.book13 {
  @extend .book;
  -webkit-animation-name: book13;
  animation-name: book13;
}
.book14 {
  @extend .book;
  -webkit-animation-name: book14;
  animation-name: book14;
}
.book15 {
  @extend .book;
  -webkit-animation-name: book15;
  animation-name: book15;
}
.book16 {
  @extend .book;
  -webkit-animation-name: book16;
  animation-name: book16;
}
.book17 {
  @extend .book;
  -webkit-animation-name: book17;
  animation-name: book17;
}
.book18 {
  @extend .book;
  -webkit-animation-name: book18;
  animation-name: book18;
}
.book19 {
  @extend .book;
  -webkit-animation-name: book19;
  animation-name: book19;
}
.book20 {
  @extend .book;
  -webkit-animation-name: book20;
  animation-name: book20;
}
