@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}
h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}
p {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

/* 16px @ 480px increasing to 32px @ 1920px */
@media (min-width: 480px) {
  p {
    font-size: calc(1rem + ((1vw - 4.8px) * 1.1111));
    /* Where: * 1.1111 = 100 * font_Size_Difference / viewport_Width_Difference */
  }
}
/* Prevent font scaling beyond this breakpoint */
@media (min-width: 1920px) {
  p {
    font-size: 32px;
  }
}

.jumbotron {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: url("https://n6-img-fp.akamaized.net/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?size=338&ext=jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

@keyframes paper-falling {
  from {
    top: 0em;
    left: 50%;

    transform: rotate(0deg) skew(29deg);
  }
  to {
    bottom: 0em;
    left: 70%;
    transform: rotate(1234deg) skew(50deg);
  }
}

.falling-paper {
  float:left;
  position: relative;
  width: 2em;
  height: auto;
  animation: paper-falling;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
