.main {
  .navbar {
    background-color: #2b3990;
    .navbar-brand {
      color: #f2f3f2;
      font-family: Apple Chancery, cursive;
      font-weight: bolder;
    }
    .row {
      button {
        background-color: #2b3990;
        color: #f2f3f2;
        i {
          font-size: 2rem;
        }
      }
      button:focus,
      button:hover {
        background-color: #f2f3f2;
        color: #2b3990;
      }
    }
  }
}

@media (min-width: 576px) {
  .main {
    .navbar {
      .row {
        justify-content: space-around;
      }
    }
  }
}
