@import "../scss/post-home-buttons";

@media (min-width: 1200px) {
  .main {
    .navbar {
      justify-content: space-evenly;
      .fas {
        font-size: 8rem;
      }
      h1 {
        font-size: 8rem;
      }
    }
  }
}
