<div id="post" class="form-group">
  <div class="big-gif-loading" *ngIf="loading">
    <img class="big-gif-loading" src="https://i.imgur.com/1PaW005.gif" alt="Loading" title="Loading" />
  </div>
  <input type="text" class="form-control" id="title" placeholder="title goes in this place over here" #title>
  <input type="text" class="form-control" id="author" placeholder="and author over here" #author>
  <button type="submit" id="post-button" class="btn btn-default" (click)="newBook(title, author)">New Book</button>
  <button type="submit" id="post-button" class="btn btn-default" (click)="show()"> Book</button>
</div>
<div *ngIf="bookPreviouslyCreated">
  <div class="alert alert-danger alert-dismissable" role="alert">
    <button class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    This book has already been created.</div>
</div>
