//POST CSS
#post {
  width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  #author,
  #title {
    margin: 0;
    background: #39cccc;
    color: #001f3f;
  }
  #post-button {
    background: #3d9970;
    color: #ffdc00;
  }
}
.alert-heading {
  text-decoration: underline;
  font-weight: bold;
  color: red;
}
.alert-p {
  font-size: 1.5em;
}
.button-replacement {
  @extend #post-button;
}

// Small screens
@media only screen and (min-device-width: 100px) and (max-device-width: 374px) and (orientation: portrait) {
  .alert {
    font-size: 0.75em;
    margin: 0;
    padding: 0.3em;
  }
  #author,
  #title {
    font-size: 1em;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  #post {
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    #author,
    #title {
      font-size: 1em;
      margin: 0;
      background: #39cccc;
      color: #001f3f;
    }
    #post-button {
      font-size: 1em;
    }
  }
  .alert {
    margin: 0;
    padding: 0.3em;
  }
  .alert-p {
    font-size: 1em;
  }
  .alert-heading {
    font-size: 1.5em;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #post {
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    #author,
    #title {
      font-size: 1em;
      margin: 0;
      background: #39cccc;
      color: #001f3f;
    }
    #post-button {
      font-size: 1em;
    }
  }
  .alert {
    margin: 0;
    padding: 0.3em;
  }
  .alert-p {
    font-size: 1em;
  }
  .alert-heading {
    font-size: 1.5em;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #post {
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    #author,
    #title {
      font-size: 1em;
      margin: 0;
      background: #39cccc;
      color: #001f3f;
    }
    #post-button {
      font-size: 1em;
    }
  }
  .alert {
    margin: 0;
    padding: 0.3em;
  }
  .alert-p {
    font-size: 1em;
  }
  .alert-heading {
    font-size: 1.5em;
  }
}

/* Landscape */
@media only screen and (min-device-width: 813px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #post {
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    #author,
    #title {
      font-size: 1em;
      margin: 0;
      background: #39cccc;
      color: #001f3f;
    }
    #post-button {
      font-size: 1em;
    }
  }
  .alert {
    margin: 0;
    padding: 0.3em;
  }
  .alert-p {
    font-size: 1em;
  }
  .alert-heading {
    font-size: 1.5em;
  }
}

/* Regular laptop/screen */
@media only screen and (min-device-width: 1024px) and (max-device-width: 2000px) and (orientation: landscape) {
  #post {
    #post-button {
      font-size: 2em;
    }
  }
}
//Ipad
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  #post-button {
    font-size: 2em;
  }
}

/* Ipad */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  #post-button {
    font-size: em;
  }
}

//Iphone 5
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .alert {
    font-size: 0.75em;
    margin: 0;
    padding: 0.3em;
  }
  #author,
  #title {
    font-size: 1em;
  }
}

//iphone 5
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .alert {
    font-size: 0.5em;
    margin: 0;
    padding: 0.3em;
  }
  #author,
  #title {
    font-size: 1em;
  }
}

// iphone 6 etc
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .alert {
    font-size: 1em;
    margin: 0;
    padding: 0.3em;
  }
  #author,
  #title {
    font-size: 1em;
  }
}

// iphone 6 etc
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .alert {
    font-size: 0.5em;
    margin: 0;
    padding: 0.3em;
  }
  #author,
  #title {
    font-size: 1em;
  }
}

// IPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .alert {
    font-size: 1.5em;
  }
  #post {
    #author,
    #title {
      font-size: 2em;
    }
    #post-button {
      font-size: 2em;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .alert {
    font-size: 1.5em;
  }
  #post {
    #author,
    #title {
      font-size: 2em;
    }
    #post-button {
      font-size: 2em;
    }
  }
}

// Ipad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .alert {
    font-size: 2.5em;
    .alert-p {
      line-height: 1.5em;
    }
  }
  #post {
    #author,
    #title {
      font-size: 3.5em;
    }
    #post-button {
      font-size: 3.5em;
    }
  }
}

// Ipad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .alert {
    font-size: 2em;
    .alert-heading {
      font-size: 2em;
    }
    .alert-p {
      line-height: 1em;
    }
  }
  #post {
    #author,
    #title {
      font-size: 3.5em;
    }
    #post-button {
      font-size: 3.5em;
    }
  }
}
