/*---------------- Mobile First, defaults here -----------------*/

.post {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  .alert {
    .alert-heading {
      text-decoration: underline;
      font-weight: bold;
      color: rgb(196, 26, 26);
      font-size: 1.2em;
    }
    .alert-p {
      font-size: 1em;
    }
  }
  .author,
  .title {
    background: #eeffa2;
    color: black;
    font-size: 1.2em;
  }
  .post-button {
    width: 30vw;
    font-size: 1.4em;
    background: #3d9970;
    color: #ffdc00;
  }
}

@media only screen and (max-width: 500px) and (min-height: 800px) {
  .post {
    width: 60vw;
    .alert {
      .alert-heading {
        font-size: 1.4em;
      }
      .alert-p {
        font-size: 1.2em;
        line-height: 1.3em;
      }
    }
    .author,
    .title {
      font-size: 1.3em;
    }
    .post-button {
      width: 45vw;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .post {
    .alert {
      .alert-heading {
        font-size: 1.8em;
      }
      .alert-p {
        font-size: 1.6em;
        line-height: 1.7em;
      }
    }
    .author,
    .title {
      font-size: 1.5em;
    }
    .post-button {
      font-size:1.7em;
    }
  }
}


@media only screen and (min-height: 1000px) and (orientation: portrait) {
  .post {
    .alert {
      .alert-heading {
        font-size: 2.2em;
      }
      .alert-p {
        font-size: 1.9em;
        line-height: 2em;
      }
    }
    .author,
    .title {
      font-size: 1.8em;
    }
    .post-button {
      font-size: 2.1em;
    }
  }
}
