<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">New Book</h5>
        <button name="Close modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">
          Please input as close to the title and author as you can.
        </div>
        <form>
          <div class="form-group">
            <label for="book-name" class="col-form-label">Book:</label>
            <input type="text" class="title-input form-control" id="book-name" placeholder="Title..." (keyup)="onInput($event)" (paste)="onInput($event)" />
          </div>
          <div class="form-group">
            <label for="author-name" class="col-form-label">Author:</label>
            <input type="text" class="author-input form-control" id="author-name" id="inputAuthor" placeholder="Author..." (keyup)="onInput($event)" (paste)="onInput($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button name="close modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div *ngIf="notPressed; else do_this">
          <button name="create new book" type="submit" class="btn btn-primary post-button" data-dismiss="modal" (click)="newBook($event); buttonPressed()">Post New Book</button>
        </div>
        <ng-template #do_this>
          <button name="data is loading" class="btn btn-default post-button">
            API Stuff...
          </button>
        </ng-template>
        <div *ngIf="bookPreviouslyCreated">
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button name="alert button close" class="close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
            Error, either invalid name or book has previously been created.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>
