<div *ngIf="dataAvailable">
  <div id="input-box">
    <div id="input-box-inner">
      <input #myInput placeholder="Book name..." [(ngModel)]="name" (input)="filterItem(myInput.value)" />
    </div>
  </div>
  <div class="card-deck">
    <div *ngFor="let book of filteredItems">
      <div *ngIf="book !== 0;else do_this">
        <div class="card card-inverse">
          <div class="card-header">
            {{book.exact_title}}
          </div>
          <img class="card-img-top" (click)="reroute([book.url_title])" src={{book.front_cover}} alt="Image of book">
          <div class="card-block">
            <div class="scroll-up">
              <p class="card-text" [innerHTML]="book.goodreads_description">
              </p>
            </div>
          </div>
        </div>
        <ng-template #do_this>
          <div class="card card-inverse" id="hide">
            <div class="card-header">
            </div>
            <img class="card-img-top" alt="Image of book">
            <div class="card-block">
              <div class="scroll-up">
                <p class="card-text">
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
