@import "../../styles.scss";

.scroll-up {
  height: 20vh;
  overflow: hidden;
  position: relative;
}

.scroll-up p {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  height: 100vh;
  padding: 0.4em;
  line-height: 0.9em;
  text-align: left;
  /* Starting position */
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  /* Apply animation to this element */
  -moz-animation: scroll-up 25s linear infinite;
  -webkit-animation: scroll-up 25s linear infinite;
  animation: scroll-up 25s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-up {
  0% {
    -moz-transform: translateY(100vh);
  }
  100% {
    -moz-transform: translateY(10vh);
  }
}
@-webkit-keyframes scroll-up {
  0% {
    -webkit-transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(10vh);
  }
}
@keyframes scroll-up {
  0% {
    -moz-transform: translateY(100vh); /* Browser bug fix */
    -webkit-transform: translateY(100vh); /* Browser bug fix */
    transform: translateY(100vh);
  }
  100% {
    -moz-transform: translateY(10vh); /* Browser bug fix */
    -webkit-transform: translateY(10vh); /* Browser bug fix */
    transform: translateY(10vh);
  }
}

.card-deck {
  padding: 5vh 5vw;
}

.card {
  background-color: rgba(0, 0, 0, 0);
}

.card-img-top {
  height: 30vh;
  width: 15.95vw;
  cursor: pointer;
}

.card-header {
  padding: 0;

  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);

  padding-top: 0.2em;
  font-size: 1.8em;
  line-height: 1.4em;
  height: 10vh;
  overflow: scroll;
  width: 15.95vw;
}

.card-text {
  text-shadow: 0px 2px 3px #555;
}

.card-img-top:hover{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(0, 255, 0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}
.card-img-top:last-of-type:hover{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
-webkit-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(232, 0, 0, 0.67);
box-shadow:         0px 0px 30px 0px rgba(232, 0, 0, 0.67);
}

#hide {
  visibility: hidden;
}

//this is the input button css

#input-box {
  position: relative;
  max-width: 50vw;
  margin: 150px auto 0;
 }

 #input-box input {
  border: 0;
  border-bottom: 2px solid #1976D2;
  position: absolute;
  bottom: 10vh;
  right: 0vw;
  width: 100%;
  font-size: 2em;
  line-height: 3em;
  height: 3em;
  text-align: center;
  padding: 1em;
  background: transparent;
   color: #3d9970;
 }

 #namer input:focus {
  outline: 0;
   color: #FFDC00;
 }

 #namer input::placeholder {
  color: #001f3f;
 }

//this is for the loader

$blue: rgb(0,155,255);

.jawn {
  position: relative;
  background-color: #F8E71C;
  width: 3em;
  height: 3em;
  margin: 0 auto;
  border-radius: 50%;
  top: 50vh;

  &:after, &:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }

  &:after {
    left: -3em;
    top: -1.5em;
    background-color: #C7C2A6;
    transform-origin: 4.5em 3em;
    animation: axis 1s linear infinite;
  }
  &:before {
    left: -7.5em;
    top: -4.5em;
    background-color: $blue;
    transform-origin: 9em 6em;
    animation: axis 2s linear infinite;
  }
}

@keyframes axis {
  0% {
    transform: rotateZ(0deg) translate3d(0,0,0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0,0,0);
  }
}
