@import "../../scss/scroll-up";
@import "../../scss/scrollbar";
@import "../../scss/loader";

.card-deck {
  padding: 5vh 5vw;
  justify-content: center;
  .card {
    background-color: rgba(0, 0, 0, 0);
    width: 15.95vw;
    height: auto;
    .card-header {
      padding: 0;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
        0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
      padding-top: 0.2em;
      font-size: 1.5em;
      line-height: 1.2em;
      height: 10vh;
      overflow-y: scroll;
      font-size: 2em;
    }
    .card-text {
      text-shadow: 0px 2px 3px #555;
    }
    .card-img-top:last-of-type:hover {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
      -moz-box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
      box-shadow: 0px 0px 30px 0px rgba(232, 0, 0, 0.67);
    }
  }
}

#hide {
  display: none;
}

#input-box {
  position: relative;
  max-width: 50vw;
  margin: 150px auto 0;
  input {
    border: 0;
    border-bottom: 2px solid #1976d2;
    position: absolute;
    bottom: 0vh;
    right: 0vw;
    width: 100%;
    font-size: 2em;
    line-height: 3em;
    height: 3em;
    text-align: center;
    padding: 1em;
    background: transparent;
    color: #3d9970;
    &:focus {
      outline-color: rgb(65, 152, 113);
    }
  }
}

//IMAGES OTHERWISE LOOK FUNNY, THIS PX VALUE IS THE SIZE OF CORRESPONDING IMAGES IN THE DATASET
.uniform-image-size {
  opacity: 0.7;
  width: 97.988px;
  height: 153.984px;
}

@media only screen and (min-device-width: 100px) and (max-device-width: 374px) and (orientation: portrait) {
  #input-box-inner > input {
    font-size: 1.5em;
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    height: 90vh;
    padding-top: 0;
  }
  .card {
    // font-size: 1em;
    width: 25vw;
    border: none;
  }
  .card-text {
    visibility: hidden;
  }
  .card-block {
    display: none;
  }
}

// Smaller screens
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (orientation: portrait) {
  #input-box-inner {
    input {
      font-size: 1.5em;
    }
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    height: 90vh;
  }
  .card {
    // font-size: 1em;
    width: 25vw;
    border: none;
  }
  .card-text {
    display: none;
  }
  .card-block {
    display: none;
  }
}

/* Landscape */
@media only screen and (min-device-width: 380px) and (max-device-width: 812px) and (orientation: landscape) {
  #input-box-inner > input {
    font-size: 1.5em;
    bottom: 20vh;
  }
  .card-deck {
    position: relative;
    bottom: 20vh;
    .card {
      top: 5vh;
      width: 14vw;
      margin: 0;
      border: none;
      .card-header {
        height: 20vh;
      }
      .card-block {
        display: none;
      }
    }
  }
}

// Medium sized screens
/* Portrait */
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (orientation: portrait) {
  #input-box-inner {
    input {
      font-size: 1.5em;
    }
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    .card {
      font-size: 1em;
      width: 25vw;
      height: 30vh;
      padding-bottom: 2em;
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 813px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #input-box-inner {
    input {
      font-size: 1.5em;
      bottom: 0;
    }
  }
  .card-deck {
    position: relative;
    bottom: 0;
    .card {
      top: 5vh;
      width: 14.8vw;
      font-size: 1.5em;
      .card-block {
        display: none;
      }
    }
  }
}

// Pixel 2XL
@media only screen and (-webkit-min-device-pixel-ratio: 1.77) and (orientation: landscape) {
  .card {
    font-size: 0.75em;
    height: 50vh;
    padding-top: 0;
    border: none;
    .card-img-top {
      height: 20vh;
    }
    .card-header {
      height: 10vh;
    }
    .card-block {
      display: none;
    }
  }
}

// Pixel 2XL
@media only screen and (-webkit-min-device-pixel-ratio: 1.77) and (orientation: portrait) {
  .card {
    width: 30vw;
    border: none;
    .card-header {
      height: 10vh;
    }
    .card-block {
      display: none;
    }
  }
}

//Iphone 5
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  #input-box-inner > input {
    font-size: 1.5em;
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    height: 80vh;
    padding-top: 0;
    .card {
      width: 30vw;
      border: none;
      .card-block {
        display: none;
      }
    }
  }
}

//iphone 5
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  #input-box-inner > input {
    font-size: 1.5em;
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    height: 70vh;
    padding-top: 0;
    .card {
      width: 15vw;
      .card-header {
        height: 20vh;
      }
      .card-block {
        display: none;
      }
    }
  }
}

// IPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .card {
    width: 15vw;
    font-size: 1em;
    border: none;
    .card-block {
      display: none;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .card {
    width: 27vw;
    height: 40vh;
    border: none;
    .card-header {
      height: 10vh;
      font-size: 2em;
    }
    .card-block {
      display: none;
    }
  }
}

// Ipad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  #input-box > input {
    font-size: 2.5em;
  }
  .card {
    font-size: 1.5em;
  }
}

// Ipad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .card-deck {
    padding-top: 20vh;
    .card {
      font-size: 1.5em;
      width: 16vw;
    }
  }
}

/* ----------- Laptop Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .card {
    .card-block {
      display: block;
    }
    .card-header {
      height: 10vh;
      font-size: 2em;
      padding-bottom: 5vh;
    }
  }
}
