@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");

@keyframes big-gif {
  from {
    width: 100vw;
    height: 100vh;
  }
  to {
    width: 0vw;
    height: 0vh;
  }
}

.big-gif img {
  animation-name:big-gif;
  animation-duration: 7s;
  animation-timing-function: ease-out;
  width: 100vw;
  height: 100vh;
}
