<div class="big-gif">
  <div *ngIf="showDiv">
    <img src="https://media.giphy.com/media/VcizxCUIgaKpa/giphy.gif" alt="Loading" title="Loading" />
  </div>
  <div *ngIf="dataAvailable">
    <input #myInput placeholder="Book name..." [(ngModel)]="name" (input)="filterItem(myInput.value)" />
    <div *ngFor="let book of filteredItems">
      <!--I ought to create a card for each with the image of the book and the title to link to -->
      <button (click)="reroute([book.url_title])">{{book.exact_title}}</button>
    </div>
  </div>
</div>
