@import "../../scss/loader";

/* ---------- Mobile first - smallest screens first and landscape focus then portrait -----------*/

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #f2f3f2;
}

.jumbotron .container .lead {
  color: #374396;
}

.accordion .card-header button {
  color: #212529;
}

.accordion .card-header button:hover {
  border: 0.5px solid #5970af;
  color: #009bff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

#hide {
  display: none;
}

.dashboard .jumbotron .display-1 {
  font-size: 10rem;
}

.dashboard .input-group .input-lg {
  height: 10rem;
  font-size: 4rem;
}

.dashboard .med-card .title {
  line-height: 1.4rem;
}

.dashboard .med-card .card-text {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.dashboard .card {
  background-color: rgb(250, 250, 250);
  border: 1.5px solid #5970af;
  .card-header {
    background-color: whitesmoke;
    border-bottom: 1.5px solid #5970af;
  }
}
