<div class="dashboard" *ngIf="dataAvailable; else data_not_available">

  <section class="jumbotron mx-auto jumbotron-fluid pb-4">
    <div class="container">
      <h4 class="lead text-center py-4 mb-0">Search for a synopsis or create a new one</h4>
    </div>
    <div class="input-group w-50 mx-auto small-input">
      <input #myInputLarge type="text" class="rounded form-control w-100" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
        placeholder="Book name..." (input)="filterItem(myInputLarge?.value)" />
      <label class="sr-only">Use this to search for a synopsis</label>
    </div>
  </section>

  <!-- Small to Large -->


  <div class="album py-5 container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4" *ngFor="let book of filteredItems">

        <!-- Small screens -->

        <div class="py-2" *ngIf="book !== 0; else do_this">

          <div class="d-block d-sm-none small-card">
            <div class="card mb-4 mw-75">
              <div class="card-header text-center">
                <h5 class="font-weight-bold title">
                  <u>{{book?.exact_title}}</u>
                </h5>
              </div>
              <img class="card-img-top align-middle img-fluid img-thumbnail mx-auto d-block w-75" alt="Book image" src="{{book?.front_cover}}"
                alt="Image of book">
              <div class="card-body">
                <p class="card-text" [innerHTML]="book?.goodreads_description"></p>
                <button name="Route to this book's info" (click)="reroute(book?.url_title)" class="btn btn-outline-primary btn-block">Synopsis</button>
              </div>
            </div>
          </div>

          <!-- Medium screens -->

          <div class="d-none d-sm-block med-card py-2">
            <div class="card h-100">
              <div class="text-center card-header">
                <h6 class="title">
                  <u>{{book?.exact_title}}</u>
                </h6>
              </div>
              <img class="card-img-top img-fluid mx-auto d-block w-75" alt="Book image" src="{{book?.front_cover}}" alt="Image of book">
              <div class="card-body px-2">
                <p class="card-text" [innerHTML]="book?.goodreads_description"></p>
                <button name="Route to this book's info" (click)="reroute(book?.url_title)" class="btn btn-outline-primary btn-block h-100">Synopsis</button>
              </div>
            </div>
          </div>

        </div>

        <ng-template #do_this>
          <div class="card" id="hide">
            <div class="card-header"></div>
            <img class="card-img-top" alt="Empty image of book">
            <div class="card-block">
              <p class="card-text"></p>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>


</div>

<ng-template #data_not_available>
  <div class="jawn"></div>
</ng-template>
