@import "./scss/reset";
@import "./scss/loader";
@import "../node_modules/bootstrap/scss/bootstrap";

html {
  font-size: 1rem;
}

p, div {
  font-family: Didot, serif, Times, "Times New Roman";
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.6rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.8rem;
  }
}

body {
  border: 2px solid black;
  min-height: 100vh;
  background-color: #F2F3F2 !important;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  body > div > div.tooltip-inner {
    font-size: 1.2rem !important;
    line-height: 1.6rem !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
