// When user clicks to post a new book, animation begins, 20 different GIFs
// on the same Y plane, different X plane, slight transform to look like moving in wind

// Size of gifs, where located, animation functioning
.paper {
  position: absolute;
  width: 3em;
  height: auto;
  animation-duration: 20s;
  animation-timing-function: linear;
  overflow: hidden;
  z-index: 999999;
}

@for $i from 1 through 21 {
  $rand: ($i * $i);
  @keyframes #{paper + $i} {
    0% {
      top: 0;
      left: 0;
      transform: rotate((random($i * $i + 100) %70) + deg)
        skew((random($i * $i) %70) + deg);
    }
    30% {
      top: 30%;
      transform: rotate((random($i * $i + 100) %70) + deg)
        skew((random($i * $i) %70) + deg);
    }
    40% {
      top: 40%;
      transform: rotate((random($i * $i + 100) %70) + deg)
        skew((random($i * $i) %70) + deg);
    }
    50% {
      top: 50%;
      transform: rotate((random($i * $i + 100) %70) + deg)
        skew((random($i * $i) %70) + deg);
    }
    60% {
      top: 60%;
      transform: rotate((random($i * $i + 100) %70) + deg)
        skew((random($i * $i) %70) + deg);
    }
    70% {
      top: 70%;
      transform: rotate((random($i * $i + 100) %70) + deg)
        skew((random($i * $i) %70) + deg);
    }
    80% {
      top: 80%;
      transform: rotate((random($i * $i + 100) %70) + deg)
        skew((random($i * $i) %70) + deg);
    }
    90% {
      top: 90%;
      transform: rotate((random($i * $i + 100) %70) + deg)
        skew((random($i * $i) %70) + deg);
    }
    100% {
      top: 110%;
      left: $rand % 110 * 1%;
      transform: rotate((random($i * $i + 100) %70) + deg)
        skew((random($i * $i) %70) + deg);
    }
  }
}
