// Style the button, and it always exists in the particular position
#post-button {
  float: left;
  padding: 0;
  border: 0px;
  background-color: rgba(255, 0, 0, 0);
  padding-left: 0.5em;
  padding-top: 0.5em;
  outline: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  .fa {
    color: #3d9970;
  }
  .fa:hover {
    color: #ffdc00;
  }
}

// The aesthetics of the interpretation
@media (orientation: landscape) {
  #post-button {
    font-size: 3.4vw;
  }
}

@media (orientation: portrait) {
  #post-button {
    font-size: 4.4vw;
  }
}

// Opposite side of post button
#home-button {
  @extend #post-button;
  float: right;
  position: relative;
  padding-left: 0;
  padding-right: 0.5em;
  z-index: 5;
}
