h1 {
  font-family: Didot, Garamond, Futura, "Trebuchet MS", Arial, sans-serif;
}

h3 {
  font-family: Didot, Garamond, Baskerville, "Trebuchet MS", Arial, sans-serif;
}

p,
div {
  font-family: Didot, Garamond, Futura, "Trebuchet MS", Arial, sans-serif;
}

img {
  max-width: 100% !important;
  height: auto !important;
  width: auto\9; /* ie8 */
}

.btn-outline-primary:hover {
  color: whitesmoke !important;
  background-color: #5970af !important;
  border-color: #5970af !important;
}
.btn-outline-primary {
  white-space: normal !important;
  color: #5970af !important;
  border-color: #5970af !important;
  cursor: pointer;
}

.btn-primary {
  color: #f2f3f2 !important;
  background-color: #5970af !important;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #6d80b4 !important;
}
