@import url("https://fonts.googleapis.com/css?family=Roboto");

h1 {
  font-family: Roboto, Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 23px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

h3 {
  font-family: Roboto, Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

p,
div {
  font-family: Roboto, Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

img {
  max-width: 100% !important;
  height: auto !important;
  width: auto\9; /* ie8 */
}
