/* Move it (define the animation) */
@-moz-keyframes scroll-up {
  0% {
    -moz-transform: translateY(100vh);
  }
  100% {
    -moz-transform: translateY(10vh);
  }
}
@-webkit-keyframes scroll-up {
  0% {
    -webkit-transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(10vh);
  }
}
@keyframes scroll-up {
  0% {
    -moz-transform: translateY(100vh); /* Browser bug fix */
    -webkit-transform: translateY(100vh); /* Browser bug fix */
    transform: translateY(100vh);
  }
  100% {
    -moz-transform: translateY(10vh); /* Browser bug fix */
    -webkit-transform: translateY(10vh); /* Browser bug fix */
    transform: translateY(10vh);
  }
}

.scroll-up {
  height: 20vh;
  overflow: hidden;
  position: relative;
}

.scroll-up {
  p {
    position: absolute;
    bottom: 10vh;
    width: 100%;
    height: 100vh;
    padding: 0.4em;
    line-height: 0.9em;
    text-align: left;
    /* Starting position */
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    /* Apply animation to this element */
    -moz-animation: scroll-up 25s linear infinite;
    -webkit-animation: scroll-up 25s linear infinite;
    animation: scroll-up 25s linear infinite;
  }
}

