$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

$lightGrey: rgb(227, 219, 216);
$darkGrey: rgb(166, 163, 158);
$brown: rgb(87, 54, 43);
$purple: rgb(125, 78, 79);
$red: rgb(237, 92, 82);
$charcoal: rgb(64, 55, 46);
$lightBlue: rgb(177, 212, 208);
$aqua: rgb(113, 191, 170);
$pink: rgb(254, 222, 229);
$darkPink: rgb(225, 178, 206);
$greyYellow: rgb(253, 232, 220);
